#containerBotaoParar {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
#dialogoSair, #dialogoSair button {
    background-color: black;
    border: 1px solid white;
    color: white;
  }
  
.circulo{
    height: 20px;
    width: 20px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.iconeCifraoParar {
    font-size: 12px;
  }
  
#tituloSair {
    font-weight: bold;
}