/* body {
  margin: 0;
  color: white;
  width: 100vw;
  height: 100vh;
  justify-content: flex-end;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
} */

#mostrarDicaCartas {
  display: none; /* Oculta o elemento inicialmente */
    position: fixed; /* Define a posição fixa */
    top: 0; /* Posiciona no topo da janela */
    left: 0; /* Posiciona à esquerda da janela */
    width: 100%; /* Define a largura para cobrir toda a largura da janela */
    height: 100%; /* Define a altura para cobrir toda a altura da janela */
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente para destacar */
    z-index: 9999; /* Valor alto para garantir que sobreponha outros elementos */
    /* Outros estilos conforme necessário */
}

#dicas {
  background-color: rgba(0, 0, 0, 0.7);
  position: sticky;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container-cartas-exterior {
  width: 50vw;
  display: grid;
  grid-template-rows: repeat(3,250px);
  align-items: center;
}

.container-titulo {
  margin: 90px;
  margin-bottom: 0;                                                                                                                                                                                        ;
  margin-left: 100px;
  font-size: 20px;
}

#cartas {
  /* height: 100%; */
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  margin: 20px;
  margin-left: 70px;
  margin-right: 70px;
  justify-items: center;
  align-items: center;
}

#mostrarDicaConvidados {
  display: none !important;
}
#convidados {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 20px;
  margin-left: 70px;
  margin-right: 70px;
  justify-items: center;
  align-items: center;
}

  #convidados div > img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
  }

  .button {
    width: 90%;
    display: flex;
    justify-content: flex-end;
  }

  #buttonFecharCartas, #buttonFecharConvidados {
    width: 100px;
    height: 50PX;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 1em;
    color: white;
  }

  #button-fechar-cartas:hover, #button-fechar-convidados:hover {
    background-color: black;
  }

  #button-fechar-cartas:hover, #button-fechar-convidados:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }

  .container-convidados-exterior {
    width: 50vw;
    display: grid;
    grid-template-rows: repeat(4,180px);
    align-items: center;
  }

  .container-convidados {
    justify-content: center;
  }

  .resposta {
    margin-right: 10px;

  }

  #barras {
    margin-left: 70px;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 265px);
    font-size: 13px;
    font-weight: lighter;
  }

  .card {
    display: flex;
    margin-left: 10px;
  }

  .progress-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
  }

  .progress {
    /* justify-content: center; */
    width: 0%;
    max-width: 150px;
    height: 100%;
    background-color: #4caf50;
    border-radius: 10px;
    transition: width 0.5s ease;
    
  }

