/* --------RESPONSIVIDADE-------- */

@media screen and (max-width: 1280px) {


    .textoPontuacao, .textoResposta{
        font-size: 12px !important;
    }

    .circulo{
        height: 15px !important;
        width: 15px !important;
    }
    
    .iconeCifrao{
        font-size: 8px !important;
    }

    #textoPergunta{
        font-size: 16px !important;
    }

    #relogioTempoJogo{
        font-size: 30px !important;
    }

    .numeroResposta, #errar, #parar, #acertar{
        font-size: 20px !important;
    }
    
    #botaoAjuda1, #botaoAjuda2, #botaoAjuda3, .botaoPulo{
        background-size: 30px !important;
        font-size: 10px;
    }
    #textoResultado{
        font-size: 20px !important;
    }

    #containerResultado{
        font-size: 30px !important;
    }

    #botaoSairFinalPartida{
        height: 30px !important;
        width: 110px !important;
        font-size: 15px !important;
    }

    #nSeiMaisOq{
        width: 80% !important;
    }
  }



/* --------FONTS / REUTILIZAVEIS-------- */

@font-face {
    font-family: "Roboto", sans-serif;
    src: url('../fonts/Roboto/')
}

@font-face {
    font-family: relogio;
    src: url(../fonts/DS-DIGIB.TTF);
}

.corFundoPrincipal{
    background-color: #003642;
}

.corFundoPerguntas{
    background-color: #211b15;
}

.corFundoPontuacao{
    background-color: black;
}

.displayCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --------ESTILOS GERAIS DA TELA-------- */

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    color: white;
    font-weight: 500;
}

section{
    height: 100vh;
    width: 100vw;
    display: flex;
}

/* --------PONTUAÇÃO / NIVEIS-------- */

#containerPontuacao{
    height: 100%;
    width: 15%;
    color: lightgray;
    opacity: 90%;
}

#containerPontuacao > div{
    height: 80%;
    width: 70%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
}

.containerNivel{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.circulo{
    height: 20px;
    width: 20px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconeCifrao{
    font-size: 12px;
}

.textoPontuacao{
    font-size: 18px;
}

#pontuacao1{
    color: #cb9f2f;
}


/* --------DIVS DIREITA E CENTRALIZAÇÃO DO CONTEUDO------- */

#containerDireita{
    width: 85%;
    height: 100%;
}

#containerMeio{
    height: 65%;
    width: 70%;
    display: flex;
}

/* --------PERGUNTAS E RESPOSTAS-------- */

#containerPerguntasEValores{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}

#containerCronometro{
    height: 10%;
    width: 90%;
    display: flex;
    justify-content: flex-end;
}

#relogioTempoJogo{
    height: 100%;
    width: 28%;
    font-family: relogio;
    font-size: 40px;
    font-weight: 900;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#containerPerguntas{
    height: 75%;
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    opacity: 90%;
}

#pergunta{
    height: 30%;
    width: 100%;
}

#textoPergunta{
    font-weight: 500 !important;
    font-size: 24px;
    letter-spacing: 2px;
}

.textoResposta {
  width: 100%;
  height: 100%;
  align-content: center;
}

.resposta{
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
}

.resposta:hover{
    border: 1px solid lightblue;
}

.numeroResposta{
    height: 100%;
    width: 10%;
    font-size: 30px;
    font-weight: bold;
    margin-right: 10px;
}

/* --------VALORES / PREMIOS / ACERTAR / PARAR / ERRAR-------- */

#containerValores{
    height: 20%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

#errar, #parar, #acertar{
    height: 70%;
    width: 25%;
    flex-direction: column;
    color: #cb9f2f;
    font-size: 26px;
    font-weight: bold;
}

#errar > div, #parar > div, #acertar > div{
    width: 150%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#botaoParar{
    height: 25px;
    width: 130px;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid #cb9f2f;
    font-size: 20px;
    font-weight: bold;
    color: #cb9f2f;
}

#botaoParar:hover{
    background-color: #446c74;
}

#containerAjudasEImagem{
    height: 80%;
    width: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

#containerImagem{
    height: 70%;
    width: 70%;
    background-image: url("../img/silvio.png");
    background-size: cover;
    background-position: center;
    margin-right: 15px;
    margin-top: -40px;
}

/* --------DIVS DOS BOTÕES DE DICAS / AJUDAS -------- */

#containerAjudas{
    height: 33%;
    width: 55%;
}

#ajudas, #pulos{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.botaoAjudas{
    height: 95%;
    width: 30%;
    color: #fefae0;
    border: none;
}

.botaoAjudas:hover{
    border: 1px solid lightblue;
}

/* --------BOTÕES DE DICAS / AJUDAS-------- */

#botaoAjuda1{
    background-color: #5838b3;
    background-image: url("../img/ace.png");
    background-size: 50px;
}

#botaoAjuda2{
    background-color: #009e9e;
    background-image: url("../img/block.png");
    background-size: 50px;
}

#botaoAjuda3{
    background-color: #a8bf21;
    background-image: url("../img/group.png");
    background-size: 55px;
}

.botaoPulo{
    background-image: url("../img/proximo.png");
    background-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#botaoAjuda1, #botaoAjuda2, #botaoAjuda3, .botaoPulo{
    background-repeat: no-repeat;
    background-position: center;
}

#botaoPulo1{
    background-color: #f9b503;
}

#botaoPulo2{
    background-color: #d94632;
}

#botaoPulo3{
    background-color: #b31b42;
}